$white: #fff;

// Header
$first-back-color: #9374f1;
$second-back-color: #c131f3;

// Body
$text-color: #606c71;
$link-color: $first-back-color;
$link-color-hover: $second-back-color;
$border-color: rgba(0, 0, 0, .2);
